body{
    background-color: antiquewhite;
    font-family: Helvetica;

    p{
        font-size: 18px;
    }
}

header{
    h1, nav, ul, li{
        padding: 15px;
        display: inline;
    }
}

img{
    padding-top: 10px;
    width: 50vw;
}

ol{
    li{
        padding-top:10px;
    }
}